#conPrin {
    background: linear-gradient(90deg, rgba(225,179,255,1) 0%, rgba(80,167,187,1) 54%);
}


.text-align-center {
    text-align: center;
    vertical-align: middle;
}

#row1 { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#row2 { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contenedor {
    background-color: #E5E2E2;
    width: 260px;
    height: 170px;
    border-radius: 50px;
}

@media screen and (max-width: 576px) {
    #row1 { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #row2 { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contenedor {
        background-color: #E5E2E2;
        width: 260px;
        height: 170px;
        margin-top: 20px;
        border-radius: 50px;
    }
    #id1 {
        text-align: justify;
        text-justify: inter-word;
    }
    #hola{
        text-align: center;
    }
  }